

.link{
    background-color: gray;
    border: 2px solid darkorange;
    border-radius: 5px;
    color: darkorange;
    text-decoration: none;
    padding: 5px;
    margin: 15px;
}

.link:hover{
    background-color: darkorange;
    color: gray;
}

.link:active{
    background-color: red;
}