.container{
    display: grid;
    grid-template-columns: 250px 400px 350px;
    grid-template-rows: 250px 300px 100px;
}

.parca{
    /* border: 2px solid red; */
    text-align: center;
}

.parca:nth-child(2n-1){
    background-color: lightgrey;
}

.parca:nth-child(even){
    background-color: pink;
}

.bir{
    background-image: url("https://picsum.photos/id/324/600/400");
    background-size: cover;    
}

.dort{
    overflow: auto;
    background-color: orange !important;
    /* pseudo ile verdiğimiz stil baskındır, ezmek istersek(overriding) !important ekleriz */
}

