@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: linear-gradient(60deg, black,red);
    /* display: inline-block; */
}

.header img{
    width: 60px;
    margin-left: 2rem;
}

.register{
    float: right;
    top: 0;
    /* margin-top: 20px;
    margin-right: 20px; */
    position: absolute;
    top: 20px;
    right: 1.5rem;
}

ul{
    color: white;
    font-family: "Rowdies", sans-serif;
    text-align: center;
}

ul > li{
    /* color: white; */
    display: inline-block;
    padding: 10px;
}

.navbar{
    background-color: black;
}

.carousel{
    /* border: 4px solid yellow; */
    height: 70vw;
    background: linear-gradient(60deg,rgba(8, 8, 8, 0.295),rgba(255, 7, 7, 0.623)), url(../4-example/images/fast-food.jpg);
    background-size: cover;
    background-position: right bottom;
    position: relative;
    /* margin: auto; */
}

.carousel h2{
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 30%;
    left: 20%;


    background: -webkit-linear-gradient(190deg,#790808, #ed9c07);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main{
    height: 20vh;
    background: linear-gradient(60deg,rgba(0, 0, 0, 0.89),rgba(255, 7, 7, 0.829)), url(../4-example/images/hamb.png);
    background-size: contain;
    background-position: right bottom;
}

main h2,p,h1{
    font-family: "Rowdies", sans-serif;
    text-align: center;
    /* color: black; */
    background: -webkit-linear-gradient(190deg,#776565, #f5dbac);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    padding: 0.5rem;
}

footer{
    background: linear-gradient(60deg,black,red);
    text-align: center;
}
footer p{
    color:white;
    padding:1rem;
}
