
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.abs{
    font-size: 50px;
}

.rel1{
    background-color: crimson;
    width: 50%;
}

.rel2{
    background-color: aqua;
    width: 50%;
}

/* vw görünen ekranın genişliğine göre yüzdesini kapsar. %ler içinde bulunduğu container'ın kapladığı alana göre yüzdesini kapsar */

.rel3{
    background-color: coral;
    width: 50vw;
}

.card{
    border: 2px solid red;
    width: 50%;
    height: 50vh;
    margin:auto;
    text-align: center;
}

/* card'a height vermezsek card img'de height'ın hiç bir işlevi yok. */


.card img{
    width: 60%;
    /* height: 70%; */
    /* height: 100%; */
}

/* bu ekstra ertesi gün yapıldı */

.outline p{
    margin: 2rem;
    background-color: magenta;
    display: inline;
    padding: 10px;
    outline: 5px solid black;
    outline-offset: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}