body{
    /* background-image: linear-gradient(to right,purple,blue); */
}

.box1{
    /* background-color: tomato; */
    background-color: #ff0000e7;
}

.box2{
    background-color: lime;
    background-color: #0000FFAC;
}

.box3{
    background-color: red;
}

.box4{
    background-color: rgb(0, 0, 255, 0.5);
}

.box5{
background-color: rgb(0, 255, 0);
background-color: #FF861A;
}

.box6{
    /* background-color: rgb(50, 150, 120); */
    background-color: hsl(120, 100%, 50%);
    background-color: #218141;
}
